html {
    background-color: rgb(233, 234, 235);
    font-family: 'Rokkitt', serif;

}
body {
    font-size: 20px;
    width: 800px;
    margin: 0 auto;
    background-color: rgb(233, 234, 235);
    
}
#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(233, 234, 235); 
}
#title {
    text-align: center;
    font-size: 4rem;

    }
#phrase {
    text-align: center;
}

h3 {
    text-align: center;
}
h4 {
    text-align: center;
}

#img-div {
    display: block;
    margin: 0 auto;
    padding-top: 1cm;
    padding-bottom: 1cm;
    background-color: rgb(233, 234, 235); 
    font-style: italic;
    text-align: center;
    width: 700px;
}
#image {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
#tribute-link {
    color: blue;
}
    


